html,body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.gradient{
    background: rgb(0,97,242);
    background: linear-gradient(
        135deg,
        rgba(0,97,242,1) 0%,
        rgba(105,0,199,1) 100%
    );
}
.page-header{
    margin-top:4rem;
    font-size: 1.25rem;
    color: white;

}
.feature{
    color: white;
}

.icon{
    color: white;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    background-color: whitesmoke;

}

.gallery img{
    border-radius: 5%;
}
.services{
    color: white;

}
footer{
    color: white;
    font-size: 1rem;
    margin: 0;
}